<section class="w-full h-16 block px-7 flex justify-between items-center pt-2">
    <div class="search">
        <input type="text" placeholder="Search" >
    </div>
    <div class="info-search flex items-center gap-20">
        <span class="material-symbols-outlined font-semibold">
            notifications
            </span>
            <div class="flex items-center gap-3">
            <img src="../../../../../assets/images/Logo/amine_baggar.JPG" alt="" class="rounded-full w-10">
            <span class="font-semibold ">Amine Baggar</span>
        </div>
    </div>
</section>