<div class="fournisseur-table m-5 bg-slate-50 ">
    <div class="he p-4  flex justify-between" >
        <h2 class="font-medium font-serif text-2xl">Clients</h2>
        <button class="bg-sky-600 text-white font-medium w-40 rounded-md" (click)="modalVisible()">Ajouter</button>
    </div>

    <div class="mt-7">
        <table class="border-collapse w-full  ">
            <thead>
              <tr class="border-t-2 ">
                <th class="font-semibold text-sm">Nom</th>
                <th class="font-semibold text-sm">Status</th>
                <th class="font-semibold text-sm">Ice</th>
                <th class="font-semibold text-sm">Adress</th>
                <th class="font-semibold text-sm">Telephone</th>
                <th class="font-semibold text-sm">Factures</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-t-2  text-center mt-4" *ngFor="let client of allClient">
                <td>
                  <div class="flex">
                  <span class="material-symbols-outlined text-green-700 cursor-pointer pr-1">
                      settings
                    </span>
                 <span class="pl-2 font-medium">{{client.nom}}</span> 
                </div>
                </td>
                <td class="justify-items-center" ><button [ngClass]="client.situation==true?'bg-green-200':'bg-red-200'" class="border-2  rounded-full  w-28 pl-4"><div class="flex items-center "><div class="w-2 h-2 rounded-full bg-green-900 "></div><span class="pl-1 text-emerald-800 font-semibold">Active</span></div></button></td>
                <td>{{client.ice}}</td>
                <td>{{client.adress}}</td>
                
                <td >+212-{{client.telephone}}</td>
                <td>
                    <span class="material-symbols-outlined text-orange-500 cursor-pointer pr-1">
                        arrow_forward
                        </span>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
