<div class="sidebar-container">
    <div class="sidebar-header flex gap-2">
        <img src="../../../../assets/images/Logo/Logo1.png" alt="logo" class="h-14"/>
        <div class="name-discrip">
            <h2>BMS</h2>
            <p>Business Management Systeme</p>
        </div>
    </div>
    <div class="sidebar-menu flex flex-col gap-2 mt-10">

			<a href="">
			<div class="sidebar-menu-item flex flex-row gap-2 pr-1 py-3" >
				<span class="material-symbols-outlined">
					dashboard
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Dashboard
				
				</h3>
			</div>
			</a>
	
			<a 
			routerLink="/reception">
			<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
				<span class="material-symbols-outlined text-3xl">
					add_business
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Achat
				 	<span class="material-symbols-outlined">
						expand_more
						</span>
				</h3>
			</div>
			</a>
		
		
			<a href="">
			<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
				<span class="material-symbols-outlined">
					sell
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Vente
					<span class="material-symbols-outlined">
						expand_more
						</span>
				</h3>
			</div>
			</a>
		
		
			<a 
			routerLink="/fournisseur">
			<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
				<span class="material-symbols-outlined">
					network_node
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Fournisseur
					<span class="material-symbols-outlined">
						expand_more
						</span>
				</h3>
			</div>
			</a>
		
			
			<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3" >
				<span class="material-symbols-outlined">
					trolley
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Articles
					<span class="material-symbols-outlined">
						expand_more
						</span>
				</h3>
				</div>
				
				<div class="pl-5">
					<a routerLink="/article">
				<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
					<span class="material-symbols-outlined">
						dataset
						</span>
					<h3>Tableau d'Article</h3>
				</div>
			</a>
			<a routerLink="/caractere">
				<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
					<span class="material-symbols-outlined">
						category
						</span>
					<h3>Caracteristique</h3>
				</div>
				</a>
				</div>
			
			
	
			<a href="">
			<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
				<span class="material-symbols-outlined">
					groups
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Client
					<span class="material-symbols-outlined">
						expand_more
						</span>
				</h3>
			</div>
			</a>
	
			<a href="">
			<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
				<span class="material-symbols-outlined">
					inventory
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Stock
					<span class="material-symbols-outlined">
						expand_more
						</span>
				</h3>
			</div>
			</a>
		
			<a href="">
			<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
				<span class="material-symbols-outlined">
					forklift
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Ressource
					<span class="material-symbols-outlined">
						expand_more
						</span>
				</h3>
			</div>
			</a>
	
			<a href="">
			<div class="sidebar-menu-item flex flex-row  gap-2 pr-1 py-3">
				<span class="material-symbols-outlined">
					badge
					</span>
				<h3 class="flex items-center flex items-center justify-between w-full">
					Employé
					<span class="material-symbols-outlined">
						expand_more
						</span>
				</h3>
			</div>
			</a>
		
		
		
    </div>
</div>
