
<div class="h-screen bg-slate-50 pt-5 pr-7 pl-3 pb-5">
    
    <div class="description bg-blue-600  rounded-md grid grid-rows-8 p-7 h-full">
    <div class="row-span-6">
        <h2 class="font-semibold  text-4xl text-white text-center ">Bienvenue à nouveau!, <br>Veuillez vous connecter à votre <br>compte <span class="underline ">BMS</span> </h2>
    </div>
    <div class="img-sign flex justify-center">
        <img src="../../authen/../../../assets/images/Logo/description.png" alt="" class="w-9/12 h-64 bg-white rounded">
    </div>
</div>
</div>